body {
  font-family: sans-serif;
  margin: 0;
}

#app {
}
#app p:nth-child(1) {
}
#app p:nth-child(2) {
}
#app p:nth-child(3) {
}
#app p:nth-child(4) {
}
#app p:nth-child(5) {
}

.ProseMirror {
  position: relative;
}
